<app-appbar itemActivo="nosotros"></app-appbar>
<section class="hero-wrap hero-wrap-2" style="background-image: url('assets/images/bg_2.jpg');"
  data-stellar-background-ratio="0.5">
  <div class="overlay"></div>
  <div class="container">
    <div class="row no-gutters slider-text align-items-end justify-content-center">
      <div class="col-md-9 animate__animated animate__fadeInUp  mb-5 text-center">
        <p class="breadcrumbs mb-0"><span class="mr-2"><a href="index.html">Home <i
                class="fa fa-chevron-right"></i></a></span> <span>About us <i class="fa fa-chevron-right"></i></span>
        </p>
        <h2 class="mb-0 bread">About Us</h2>
      </div>
    </div>
  </div>
</section>
<app-info-adicional></app-info-adicional>
<app-info-blog></app-info-blog>
<app-categorias></app-categorias>
<app-testimonios-home></app-testimonios-home>
<section class="ftco-counter ftco-section ftco-no-pt ftco-no-pb img bg-light" id="section-counter">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-lg-3 justify-content-center counter-wrap wow animate__animated animate__fadeInUp">
        <div class="block-18 py-4 mb-4">
          <div class="text align-items-center">
            <strong class="number" data-number="3000">{{satisfechos}}</strong>
            <span>Clientes satisfechos</span>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 justify-content-center counter-wrap wow animate__animated animate__fadeInUp">
        <div class="block-18 py-4 mb-4">
          <div class="text align-items-center">
            <strong class="number" data-number="115">{{experiencia}}</strong>
            <span>Años de experiencia</span>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 justify-content-center counter-wrap wow animate__animated animate__fadeInUp">
        <div class="block-18 py-4 mb-4">
          <div class="text align-items-center">
            <strong class="number" data-number="100">{{tiposLicor}}</strong>
            <span>Tipos de licor</span>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 justify-content-center counter-wrap wow animate__animated animate__fadeInUp">
        <div class="block-18 py-4 mb-4">
          <div class="text align-items-center">
            <strong class="number" data-number="40">{{sucursales}}</strong>
            <span>Sucursales</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
