<h1 class="txtTitulo mt-4">Productos</h1>


<div class="boxColor">
  <div class="boxInput mb-3">
    <input class="inputGlass mr-3" #inputFiltro type="text" placeholder="Buscar" (keyup)="filtrarBlog()">
    <button class="btn btnGlass" (click)="abrirModalEditar()">
      <i class="fas fa-plus"></i>
      Agregar
    </button>
  </div>
  <!-- titulo de la tabla -->
  <div class="row tituloPantallaMediana">
    <div class="col-md-3">
      <p class="txtTituloTabla">Titulo</p>
    </div>
    <div class="col-md-4">
      <p class="txtTituloTabla">Descripción</p>
    </div>
    <div class="col-md-2">
      <p class="txtTituloTabla">Imagen</p>
    </div>
    <div class="col-md-2">
      <p class="txtTituloTabla">Fecha de publicación</p>
    </div>
    <div class="col-md-1">
      <p class="txtTituloTabla">Acciones</p>
    </div>
  </div>
  <hr class="tituloPantallaMediana">
  <div class="text-center" *ngIf="cargablogs">
    <div class="spinner-border" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>

  <h4 *ngIf="blogsEnPantalla.length===0">No se han encontrado resultados con la busqueda</h4>
  <div class="row tituloPantallaMediana" *ngFor="let blog of blogsEnPantalla">

    <div class="col-md-3">
      {{blog.titulo}}
    </div>
    <div class="col-md-4">
      {{(blog.descripcion.length>250)? (blog.descripcion | slice:0:250)+'...':(blog.descripcion)}}
    </div>
    <div class="col-md-2">
      <img [src]="blog.urlImagen" class="imgTable mr-3" [alt]="blog.titulo">
    </div>
    <div class="col-md-2">
      {{blog.fecha}}
    </div>
    <div class="col-md-1">
      <i class="iconTableEdit fas fa-edit mr-3" (click)="abrirModalEditar(blog)"></i>
      <i class="iconTableDelete fas fa-trash"></i>
    </div>




    <div class="col-12">
      <hr class="tituloPantallaMediana">
    </div>
  </div>

  <!-- cuerpo responsive -->
  <div class="cuerpoResponsive" *ngFor="let blog of blogsEnPantalla">
    <div class="row">
      <div class="col-5 font-weight-bold">Titulo:</div>
      <div class="col-7">{{blog.titulo}}</div>
    </div>
    <div class="row">
      <img [src]="blog.urlImagen" alt="">
    </div>

    <div class="row">
      <div class="col-5 font-weight-bold">Acciones:</div>
      <div class="col-7">
        <i class="iconTableEdit fas fa-edit mr-3" (click)="abrirModalEditar(blog)"></i>
        <i class="iconTableDelete fas fa-trash"></i>
      </div>
    </div>
    <hr>
  </div>

  <div class="col text-center" *ngIf="blogsEnPantalla.length>0">
    <div class="block-paginacion">
      <ul>
        <li (click)="anterior()"><a>&lt;</a></li>
        <li *ngFor="let item of cantidadPaginas" [ngClass]="{'active': item.activa}" (click)="onPaginar(item)">
          <a><span>{{item.pagina}}</span></a>
        </li>
        <li (click)="siguiente()"><a>&gt;</a></li>
      </ul>
    </div>
  </div>

</div>



<div #modalEditarBlog class="modalEditarProducto">
  <div class="contenidoModal">
    <div class="cuerpoModal">
      <h1 class="txtTitulo text-center">Agregar o editar producto</h1>


      <form [formGroup]="frmBlog" id="formProducto" (ngSubmit)="guardarBlog()">
        <div class="row">
          <div class="col-md-4">
            <img [src]="obtenerPropiedadFormGroup('urlImagen')!.value" class="imgModal" [alt]="'Licor nuevo'" *ngIf="!previewImagenBoolean">
            <img src="#" class="imgModal" alt="Imagen vista previa" #previewImagen *ngIf="previewImagenBoolean">
          </div>
          <div class="col-md-8">
            <div class="row">
              <div class="col-md-12">
                <p class="txtLabel">Titulo</p>
                <input type="text" class="form-control" formControlName="titulo">
              </div>
              <div class="col-md-12">
                <p class="txtLabel">Descripción</p>
                <textarea rows="5" type="text" class="form-control" formControlName="descripcion"></textarea>
              </div>

            </div>

            <label for="inputFile"><i class="fas fa-upload mr-3"></i>Subir imagen</label>
            <input type="file" id="inputFile" (change)="cambiarImagen($event)" accept="image/png, image/jpeg">
          </div>
        </div>
      </form>


      <div class="boxBtnModal">
        <button class="btn btnGlassCancelar  mr-3" (click)="cerrarModal()">
          <i class="fas fa-times"></i>
          Cancelar
        </button>
        <button class="btn btnGlass" form="formProducto">
          <i class="fas fa-plus"></i>
          Guardar
        </button>
      </div>

    </div>
  </div>
</div>
