<h2>¡Hola admin!</h2>
<p>Tienes un nuevo mensaje:</p>
<ul>
    <li><b>Correo electrónico:</b> {{email}}</li>
    <li><b>Nombres:</b> {{nombres}}</li>
    <li><b>Fecha:</b> {{fecha}}</li>
    <li><b>Mensaje:</b> {{mensaje}}</li>
</ul>

<p>Por favor revisa el apartado del administrador en el siguiente enlace <a href="http://localhost:4200/#/admin">Portal administrador</a></p>