<div class="order-lg-last btn-group">
  <a href="#" class="btn-cart dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <span class="flaticon-shopping-bag"></span>
    <div class="d-flex justify-content-center align-items-center"><small>{{longitudCarrito}}</small></div>
  </a>
  <div class="dropdown-menu dropdown-menu-right">

    <div class="dropdown-item d-flex align-items-start" href="#" *ngFor="let car of carrito$ | async">
      <div class="img" style="background-image: url({{car.producto.urlImagen}});"></div>
      <div class="text pl-3">
        <h4>{{car.producto.nombre}}</h4>
        <p class="mb-0"><a href="#" class="price">{{car.producto.precio | currency:'$'}}</a><span class="quantity ml-3">cantidad: {{car.cantidad_comprar}}</span></p>
      </div>
    </div>

    <a class="dropdown-item text-center btn-link d-block w-100" routerLink="/carrito">Ver todo<span class="ion-ios-arrow-round-forward"></span></a>
  </div>
</div>
