<app-loading *ngIf="spinner"></app-loading>

<app-appbar itemActivo="productos"></app-appbar>
<section class="hero-wrap hero-wrap-2" style="background-image: url('assets/images/bg_2.jpg');"
  data-stellar-background-ratio="0.5">
  <div class="overlay"></div>
  <div class="container">
    <div class="row no-gutters slider-text align-items-end justify-content-center">
      <div class="col-md-9 mb-5 text-center wow animate__animated animate__fadeInUp">
        <p class="breadcrumbs mb-0"><span class="mr-2"><a href="index.html">Inicio <i
                class="fa fa-chevron-right"></i></a></span> <span>Checkout <i class="fa fa-chevron-right"></i></span>
        </p>
        <h2 class="mb-0 bread">Checkout</h2>
      </div>
    </div>
  </div>
</section>

<section class="ftco-section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-10 wow animate__animated animate__fadeIn">

        <form [formGroup]="frmDatos" (ngSubmit)="comprar()" id="formCheckout" class="billing-form">
          <h3 class="mb-4 billing-heading">Detalles de facturación</h3>
          <div class="row align-items-end">
            <div class="col-md-6">
              <div class="form-group">
                <label for="primerNombre">Primer nombre *</label>
                <input type="text" class="form-control" formControlName="primerNombre"
                  placeholder="Digita tu primer nombre">
                <small class="text-danger" *ngIf="condicionInvalid('primerNombre')">El primer nombre es
                  obligatorio.</small>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="segundoNombre">Segundo nombre (opcional)</label>
                <input type="text" class="form-control" formControlName="segundoNombre"
                  placeholder="Digita tu segundo nombre">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="primerApellido">Primer apellido *</label>
                <input type="text" class="form-control" formControlName="primerApellido"
                  placeholder="Digita tu primer apellido">
                <small class="text-danger" *ngIf="condicionInvalid('primerApellido')">El primer apellido es
                  obligatorio.</small>

              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="segundoApellido">Segundo apellido *</label>
                <input type="text" class="form-control" formControlName="segundoApellido"
                  placeholder="Digita tu segundo apellido">
                <small class="text-danger" *ngIf="condicionInvalid('segundoApellido')">El segundo apellido es
                  obligatorio.</small>
              </div>
            </div>
            <div class="w-100"></div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="departamento">Departamento *</label>
                <div class="select-wrap">
                  <div class="icon"><span class="ion-ios-arrow-down"></span></div>
                  <select class="form-control" formControlName="departamento" (change)="cargarCiudadPorDepartamento(obtenerPropiedadFormGroup('departamento')?.value)">
                    <option value="" disabled>Selecciona tu departamento de residencia</option>
                    <option *ngFor="let depto of departamentos" [value]="depto.codDepartamento">{{depto.nombre}}</option>
                  </select>
                </div>
                <small class="text-danger" *ngIf="condicionInvalid('departamento')">El departamento es
                  obligatorio.</small>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="ciudad">Ciudad *</label>
                <div class="select-wrap">
                  <div class="icon"><span class="ion-ios-arrow-down"></span></div>
                  <select class="form-control" formControlName="codCiudad">
                    <option value="" disabled selected>Selecciona tu ciudad de residencia</option>
                    <option *ngFor="let ciudad of ciudades" [value]="ciudad.codCiudad">{{ciudad.nomCiudad}}</option>

                  </select>
                </div>
                <small class="text-danger" *ngIf="condicionInvalid('codCiudad')">La ciudad es obligatoria.</small>
              </div>
            </div>
            <div class="w-100"></div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="direccion">Dirección *</label>
                <input type="text" class="form-control" formControlName="direccion"
                  placeholder="Escribe tu dirección de residencia">
                <small class="text-danger" *ngIf="condicionInvalid('direccion')">La dirección es
                  obligatoria.</small>

              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="codigoPostal">Código postal *</label>
                <input type="number" class="form-control" formControlName="codigoPostal" placeholder="(ejemplo)= 111161">
                <small class="text-danger" *ngIf="condicionInvalid('codigoPostal')">El código postal es
                  obligatorio.</small>

              </div>
            </div>
            <div class="w-100"></div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="email">Email *</label>
                <input type="text" class="form-control" formControlName="email"
                  placeholder="Escribe tu correo electrónico">
                <small class="text-danger" *ngIf="condicionInvalid('email')">El Email es obligatorio.</small>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="telefono">Teléfono *</label>
                <input type="text" class="form-control" formControlName="telefono"
                  placeholder="Escribe tu número de teléfono">
                <small class="text-danger" *ngIf="condicionInvalid('telefono')">El teléfono es obligatorio.</small>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <label for="observaciones">Observaciones (Opcional)</label>
                <textarea type="text" rows="4" class="form-control" formControlName="observaciones"
                  placeholder="Dejanos tus observaciones."></textarea>
              </div>
            </div>
            <div class="w-100"></div>

          </div>
        </form>



        <div class="row mt-5 pt-3 d-flex">
          <div class="col-md-6">
            <app-total-carrito [totalCarrito]="totalCarrito" [entrega]="cantidadEnvio"></app-total-carrito>
          </div>

          <div class="col-md-6">
            <div class="cart-detail p-3 p-md-4">
              <div class="form-group">
                <div class="col-md-12">
                  <div class="checkbox">
                    <label><input type="checkbox" [(ngModel)]="aceptaTerminos" class="mr-2"> Acepto los términos y condiciones</label>
                  </div>
                </div>
              </div>
              <input type="submit" form="formCheckout" class="btn btn-primary py-3 px-4" value="Realizar mi pedido"  [disabled]="!(!frmDatos.invalid && aceptaTerminos)">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>
