<section class="ftco-intro">
  <div class="container">
    <div class="row no-gutters">
      <div class="col-md-4 d-flex">
        <div class="intro d-lg-flex w-100 animate__animated animate__fadeInUp">
          <div class="icon">
            <span class="flaticon-support"></span>
          </div>
          <div class="text">
            <h2>Soporte online 24/7</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quod modi dolore soluta. </p>
          </div>
        </div>
      </div>
      <div class="col-md-4 d-flex">
        <div class="intro color-1 d-lg-flex w-100 animate__animated animate__fadeInUp">
          <div class="icon">
            <span class="flaticon-cashback"></span>
          </div>
          <div class="text">
            <h2>Garantía de devolución del dinero</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quod modi dolore soluta.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 d-flex">
        <div class="intro color-2 d-lg-flex w-100 animate__animated animate__fadeInUp">
          <div class="icon">
            <span class="flaticon-free-delivery"></span>
          </div>
          <div class="text">
            <h2>Envio y devolución gratis</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quod modi dolore soluta.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
