<app-appbar></app-appbar>
<div class="hero-wrap" >
  <div class="overlay"></div>
  <div class="container">
    <div class="row no-gutters slider-text align-items-center justify-content-center">
      <div class="col-md-12 d-flex align-items-end animate__animated animate__fadeInUp">
        <div class="text w-100 text-center">
          <h1 class="mb-4">Buenas <span>Bebidas</span> para buenos <span>Momentos</span>.</h1>
          <p><a [routerLink]="'/productos'" class="btn btn-primary py-2 px-4 mr-2">Comprar ahora</a> <a [routerLink]="'/productos'" class="btn btn-white btn-outline-white py-2 px-4">Ver mas</a></p>
        </div>
      </div>
    </div>
  </div>
</div>

<app-info-adicional></app-info-adicional>
<app-info-blog></app-info-blog>
<app-categorias></app-categorias>
<app-productos-home></app-productos-home>
<app-testimonios-home></app-testimonios-home>
<app-blog-reciente></app-blog-reciente>
<app-footer></app-footer>
